.votebutton{

	border-radius: 10px;
	font-family: arial;
	color: gray;
}

.votebutton 
{}

.likebutton{
	border:1px solid #DDD;
	padding: 0.1px 10px;
	background-color: rgba(0,255,0,10%);
	border-radius: 10%;
	position: left;
	/*box-shadow: 0 0 0 0 rgba(0,0,0,0.2), 0 0 1px 1px rgba(0,0,255,50%);*/
}

.likebutton:hover{
	background-color:rgba(0,255,0,30%);
	 /*box-shadow: 0px 0px 0px 0 rgba(0,0,0,0.2), 0 0px 2px 1px rgba(0,0,255,100%);*/
    transition-duration: 0.5s;

}

.dislikebutton{
	border:1px solid #DDD;
	padding: 0.1px 10px;
	background-color: rgba(255,0,0,10%);
	border-radius: 10%;


	/*box-shadow: 0 0 0 0 rgba(0,0,0,0.2), 0 0 1px 1px rgba(0,0,255,50%);*/
}

.dislikebutton:hover{
	background-color:rgba(255,0,0,30%);
	 /*box-shadow: 0px 0px 0px 0 rgba(0,0,0,0.2), 0 0px 2px 1px rgba(0,0,255,100%);*/
    transition-duration: 0.5s;

}

.deletebutton{
	border:1px solid #DDD;
	padding: 0.1px 10px;
	background-color: rgba(0,0,255,10%);
	border-radius: 10%;
	/*box-shadow: 0 0 0 0 rgba(0,0,0,0.2), 0 0 1px 1px rgba(0,0,255,50%);*/
}

.deletebutton:hover{
	background-color:rgba(0,0,255,30%);
	 /*box-shadow: 0px 0px 0px 0 rgba(0,0,0,0.2), 0 0px 2px 1px rgba(0,0,255,100%);*/
    transition-duration: 0.5s;

}

.buscador{
	padding:.75rem 1.25rem;
	margin-bottom:0;
	background-color:rgba(0,0,0,0);
	/*border:1px solid rgba(0,0,0,30%);*/
	border-top: 1px solid rgba(0,0,0,10%);
	/*box-shadow: 0px 0px 0px 0 rgba(0,0,0,25%), 0px 0px 0px 0px rgba(0,0,0,25%);*/
}

.tablefooter{
	padding:.75rem 1.25rem;
	margin-bottom:0;
	background-color:rgba(0,0,0,10%);
	/*border:1px solid rgba(0,0,0,30%);*/
	border-top: 1px solid rgba(0,0,0,0%);
	/*box-shadow: 0px 0px 0px 0 rgba(0,0,0,25%), 0px 0px 0px 0px rgba(0,0,0,25%);*/
}


.tableheader{
	padding:.75rem 1.25rem;
	margin-bottom:0;
	background-color:rgba(0,0,0,7%);
	/*border:1px solid rgba(0,0,0,30%);*/
	/*border: 1px solid rgba(0,0,0,80%);*/
	/*box-shadow: 0px 0px 0px 0 rgba(0,0,0,25%), 0px 0px 0px 0px rgba(0,0,0,25%);*/
}

.tablebody{
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(255,255,255,5%);
	/*border: 1px solid rgba(0,0,0,80%);*/
}

.inputcontent{
	height: 90px;
	width: 100%;
}


.msgerror{
	font-size:12px


}









